<h3>Add Your Recipe to MyRecipes</h3>
<br>
<br>
<form action="/recipes" method="POST">
<label for="name"> Recipe Name:</label>
<input type="text" name="name">
<br>
<br>
<label for="description"> Recipe:</label>
<textarea name="description" cols="50" rows="20"></textarea>
<input type="submit">
</form>
